.pt-navbar.pt-dark, .pt-dark .pt-navbar {
 background-color: #03A9F4 !important;
 -webkit-box-shadow: 0 0 0 0 !important;
 box-shadow: 0 0 0 0 !important;
}

.pt-slider {
  margin-top: 1em !important;  
}

.pt-slider-progress, .pt-dark .pt-slider-progress {
  background: #03A9F4 !important;
}

.container {
  width: 90%;
  margin: auto;
  margin-top: 1em;
}

/* @media (min-width: 576px) {
  .container {
    width: 90%;
  }
 } */

@media (min-width: 768px) { 
  .container {
    width: 85%;
  }
  .pt-slider {
    margin: auto !important;
    width: 80% !important;
  }
 }

@media (min-width: 992px) { 
  .container {
    width: 80%;
  }
  .pt-slider {
    margin: auto !important;
    width: 80% !important;
  }
 }

@media (min-width: 1200px) { 
  .container {
    width: 75%;
  }
  .pt-slider {
    margin: auto !important;
    width: 80% !important;
  }
 }